.view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

text {
    fill: black
}

.area_chart {
    fill: firebrick;
}

rect {
    fill: firebrick;
    stroke: black;
    stroke-width: 1;
}

.sample_path {
    fill: none;
    stroke: firebrick;
    stroke-width:3;
}

.theo_path {
    fill: none;
    stroke: black;
    stroke-width:4;
}

.panel_title {
    font-size: 22px;
    font-weight: bold
}

.panel_text_black {
    font-size: 22px;
    fill: black;
}

.panel_text_red {
    font-size: 22px;
    fill: firebrick
}

